*.o
*.so
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock
test_c/test_app
ext/opencv_rice_ann/Rakefile
ext/opencv_rice_ann/mkrf.log

# YARD artifacts
.yardoc
_yardoc
doc/
